extends layout

block content
    h1.bilderarchiv-h1 Bilderarchiv

    .bilderarchiv-container
        if archiv
            each kategorie in archiv
                .bilderarchiv-event
                    .bilderarchiv-header
                        h2= kategorie.Veranstaltung
                        button.bilderarchiv-toggle-button(onclick="toggleGallery(this)") ▼

                    .bilderarchiv-carousel-container
                        button.bilderarchiv-carousel-prev(onclick="bascrollLeft(this)") ◀
                        .bilderarchiv-carousel-wrapper
                            .bilderarchiv-carousel
                                each Bild in kategorie.Bilder
                                    a.bilderarchiv-carousel-item(href=url+Bild.url, target="_blank")
                                        img(src=url+Bild.url)
                        button.bilderarchiv-carousel-next(onclick="bascrollRight(this)") ▶


                    .bilderarchiv-details.hidden
                        .bilderarchiv-gallery
                            each Bild in kategorie.Bilder
                                a(href=url+Bild.url, target="_blank")
                                    img(src=url+Bild.url)
                        p.bilderarchiv-description= kategorie.Beschreibung
        else
            p Es sind derzeit keine Bilder verfügbar.

    script(src="/js/archiv.js")
