extends layout

block content
    h1 Bilderarchiv

    .gallery-container
        if archiv
            each kathegorie in archiv
                .event
                    .event-header
                        h2= kathegorie.Veranstaltung
                        button.toggle-button(onclick="toggleGallery(this)") ▼

                    .carousel-container
                        button.carousel-prev(onclick="scrollLeft(this)") ◀
                        .carousel-wrapper
                            .carousel
                                each Bild in kathegorie.Bilder
                                    a.carousel-item(href=url+Bild.url, target="_blank")
                                        img(src=url+Bild.url)
                        button.carousel-next(onclick="scrollRight(this)") ▶

                    .event-details.hidden
                        .gallery
                            each Bild in kathegorie.Bilder
                                a(href=url+Bild.url, target="_blank")
                                    img(src=url+Bild.url)
                        p.event-description= kathegorie.Beschreibung
        else
            p Es sind derzeit keine Bilder verfügbar.



    script(src="/js/archiv.js")