extends layout

block content
    .theater-detail-container
        h1= theater.Titel
        h3= theater.Jahr ? theater.Jahr : ""

        .carousel-container
            button.carousel-prev &lt;
            .carousel
                each bild in theater.Bilder
                    img.carousel-slide(src=`${url}${bild.url}`)
            button.carousel-next &gt;
        if theater.Beschreibung
            .theater-description
                each line in theater.Beschreibung.split(/\r?\n+/)
                    if line.match(/^##\s*(.*)/)
                        h3= line.replace(/^##\s*/, "")
                    else if line.trim() !== ""
                        p= line

            script(src="/js/carousel.js")
