extends layout

block content
    section.karten
        h1 Kartenverkauf

        .events-container
            if karten && karten.length
                each event in karten
                    .event-card
                        h2= event.Titel
                        p.datum Datum: #{event.Datum ? new Date(event.Datum).toLocaleString('de-DE') : "Kein Datum verf체gbar"}
                        p.ort Ort: #{event.Ort || "Ort nicht angegeben"}
                        p.beschreibung= event.Beschreibung || "Keine Beschreibung verf체gbar"

                        if event.TicketsOnline && event.ticketLink
                            a(href=event.ticketLink, class="btn btn-primary") Tickets online kaufen
                        else
                            h4 Tickets sind vor Ort erh채ltlich
            else
                p Es sind keine Veranstaltungen verf체gbar.
