extends layout

block content
    .starkbier-container
        h1 Starkbierfeste

        .starkbier-grid
            each fest in starkbierfeste
                a.starkbier-card(href=`/starkbierfest/${fest.jahr}`)
                    img(src=fest.bild, alt=`Starkbierfest ${fest.jahr}`)
                    .starkbier-info
                        h2= fest.jahr
                        p= fest.beschreibung
