extends layout

block content
    .theater-detail-container
        h1 Starkbierfest #{fest.jahr}
        h3=fest.Kurzbeschreibung

        .carousel-container
            button.carousel-prev &lt;
            .carousel
                each bild in fest.Bilder
                    img.carousel-slide(src=`${url}${bild.url}`)
            button.carousel-next &gt;

        if fest.Beschreibung
            .theater-description
                each line in fest.Beschreibung.split(/\r?\n+/)
                    if line.match(/^##\s*(.*)/)
                        h3= line.replace(/^##\s*/, "")
                    else if line.trim() !== ""
                        p= line

    script(src="/js/carousel.js")