extends layout

block content
    .theater-container
        h1 Erwachsenentheater Archiv
        p Hier findest du eine Übersicht über alle bisherigen Aufführungen.

        .theater-grid
            each theater in theaterstuecke
                a.theater-card(data-id=theater.id, href=`/theater/${theater.id}`)
                    img(src=`/theaterbilder/${theater.vorschaubild}`, alt=theater.titel)
                    h3= theater.titel



